<header>
    <div class="left" id="logoHeader">
        <img src="" alt="logo">
    </div>

    <span id="tituloHeader" class="center">Bem vindo à 3DValley!</span>

    <div id="socialHeader" class="right">
        <a href="" > <img src="" alt="insta"></a>
        <a href="" > <img src="" alt="face"></a>
        <a href="" > <img src="" alt="zap"></a>
    </div>
</header>

<form action="admin" method="post">
    <input type="submit" value="admin">
</form>
